In [304]:
import numpy as np
import pandas as pd

In [305]:
loans=pd.read_csv('lending-club-data.csv')
loans.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1,1,1,0,8.14350,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1,1,1,1,2.39320,20161201T000000,1,1,1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1,1,1,0,8.25955,20141201T000000,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,0.2,1,1,1,0,8.27585,20141201T000000,0,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,0.8,1,1,1,0,5.21533,20141201T000000,1,1,1

In [306]:
loans.shape

(122607, 68)

In [307]:
loans.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,grade_num,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,last_delinq_none,last_record_none,last_major_derog_none
count,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122603.000000,122607.000000,122578.000000,...,122607.000000,122607.000000,122578.000000,122578.000000,122462.000000,122607.000000,122603.000000,122607.000000,122607.000000,122607.000000
mean,4728452.039141,5493222.460855,12809.733743,12736.123753,12497.828395,13.639487,396.623285,71385.017292,15.496888,0.211996,...,4.232882,0.597509,0.858107,0.908173,0.996734,0.123672,7.564725,0.588115,0.897795,0.873906
std,5938516.991060,6604693.479638,7932.313398,7887.167118,7946.731527,4.390836,239.475936,58414.825463,7.497442,0.662052,...,1.362138,0.278934,0.348942,0.288783,0.057059,0.329208,4.127291,0.492177,0.302918,0.331957
min,54734.000000,70473.000000,500.000000,500.000000,0.000000,5.420000,15.670000,1896.000000,0.000000,0.000000,...,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.028895,0.000000,0.000000,0.000000
25%,853292.500000,1064872.000000,6700.000000,6625.000000,6271.000000,10.620000,215.985000,44052.500000,9.880000,0.000000,...,3.000000,0.400000,1.000000,1.000000,1.000000,0.000000,4.362575,0.000000,1.000000,1.000000
50%,1621401.000000,1879659.000000,11000.000000,10950.000000,10500.000000,13.480000,348.180000,60000.000000,15.260000,0.000000,...,4.000000,0.600000,1.000000,1.000000,1.000000,0.000000,6.965760,1.000000,1.000000,1.000000
75%,6699942.000000,8117948.500000,17600.000000,17425.000000,17000.000000,16.290000,521.930000,85000.000000,20.850000,0.000000,...,5.000000,0.800000,1.000000,1.000000,1.000000,0.000000,10.215850,1.000000,1.000000,1.000000
max,37841276.000000,40604243.000000,35000.000000,35000.000000,35000.000000,26.060000,1408.130000,7141778.000000,39.880000,29.000000,...,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,54.171000,1.000000,1.000000,1.000000

In [308]:
loans.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'is_inc_v', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc',
       'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'not_compliant', 'status', 'inactive_loans',
       'bad_loans', 'emp_length_num', 'grade_num', 'sub_grade_num',
       'delinq_2yrs_zero', 'pub_rec_zero', 'collections_12_mths_zero',
       'short_emp', 'payment_inc_ratio', 'final_d', 'last_delinq_none',
       'last_record_none', 'last_major_derog_none'], dtype=object)

In [309]:
loans['bad_loans'].head()

0    0
1    1
2    0
3    0
4    0
Name: bad_loans, dtype: int64

In [310]:
loans['safe_loans'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)

In [311]:
loans.shape

(122607, 69)

In [312]:
loans=loans.drop('bad_loans',axis=1)

In [313]:
loans.shape

(122607, 68)

In [314]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                    # prediction target (y) (+1 means safe, -1 is risky)

# Extract the feature columns and target column
loans = loans[features + [target]]

In [315]:
loans.shape

(122607, 13)

In [316]:
loans.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
0,B,B2,0,11,RENT,27.65,credit_card,36 months,1,1,83.7,0.00,1
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.00,-1
2,C,C5,0,11,RENT,8.72,small_business,36 months,1,1,98.5,0.00,1
3,C,C1,0,11,RENT,20.00,other,36 months,0,1,21.0,16.97,1
4,A,A4,0,4,RENT,11.20,wedding,36 months,1,1,28.3,0.00,1

In [317]:
loans.describe()

,short_emp,emp_length_num,dti,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
count,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000
mean,0.123672,6.370256,15.496888,0.588115,0.873906,53.716307,0.742344,0.622371
std,0.329208,3.736014,7.497442,0.492177,0.331957,25.723881,5.363268,0.782726
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000
25%,0.000000,3.000000,9.880000,0.000000,1.000000,34.800000,0.000000,1.000000
50%,0.000000,6.000000,15.260000,1.000000,1.000000,55.700000,0.000000,1.000000
75%,0.000000,11.000000,20.850000,1.000000,1.000000,74.300000,0.000000,1.000000
max,1.000000,11.000000,39.880000,1.000000,1.000000,150.700000,208.820000,1.000000

In [318]:
train=pd.read_json('https://s3.amazonaws.com/static.dato.com/files/coursera/course-3/indices-json/module-5-assignment-1-train-idx.json')
train_idx=[]
for i in train[0]:
    train_idx.append(i)

In [319]:
valid=pd.read_json('https://s3.amazonaws.com/static.dato.com/files/coursera/course-3/indices-json/module-5-assignment-1-validation-idx.json')
validation_idx=[]
for i in valid[0]:
    validation_idx.append(i)

In [320]:
train_data = loans.iloc[train_idx]
validation_data = loans.iloc[validation_idx]

In [321]:
safe_loans_raw = loans[loans[target] == +1]
risky_loans_raw = loans[loans[target] == -1]
print "Number of safe loans  : %s" % len(safe_loans_raw)
print "Number of risky loans : %s" % len(risky_loans_raw)

Number of safe loans  : 99457
Number of risky loans : 23150

In [322]:
target='safe_loans'

In [323]:
validation_safe_loans = validation_data[validation_data[target] == 1]
validation_risky_loans = validation_data[validation_data[target] == -1]

sample_validation_data_risky = validation_risky_loans[0:2]
sample_validation_data_safe = validation_safe_loans[0:2]

sample_validation_data = sample_validation_data_safe.append(sample_validation_data_risky)
sample_validation_data

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
19,B,B3,0,11,OWN,11.18,credit_card,36 months,1,1,82.4,0,1
79,D,D1,0,10,RENT,16.85,debt_consolidation,36 months,1,1,96.4,0,1
24,D,D2,0,3,RENT,13.97,other,60 months,0,1,59.5,0,-1
41,A,A5,0,11,MORTGAGE,16.33,debt_consolidation,36 months,1,1,62.1,0,-1

In [324]:
sample_validation_data.shape

(4, 13)

In [325]:
train_data

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.0000,-1
6,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.6,0.0000,-1
7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.0000,-1
10,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.7,0.0000,-1
12,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.5,0.0000,-1
18,B,B4,0,11,RENT,13.22,debt_consolidation,36 months,1,1,90.3,0.0000,-1
21,B,B3,0,2,RENT,2.40,major_purchase,36 months,1,1,29.7,0.0000,-1
23,C,C2,0,10,RENT,15.22,debt_consolidation,36 months,1,1,57.6,0.0000,-1
45,B,B1,0,9,MORTGAGE,9.12,debt_consolidation,36 months,1,1,63.7,24.1700,-1
48,C,C5,0,5,RENT,20.88,car,36 months,1,1,90.8,0.0000,-1
50,E,E4,0,8,RENT,21.58,debt_consolidation,60 months,1,1,97.6,0.0000,-1
58,D,D3,0,6,RENT,13.16,debt_consolidation,60 months,1,1,70.8,0.0000,-1
63,D,D2,0,6,RENT,20.22,debt_consolidation,36 months,0,1,67.5,0.0000,-1
87,D,D3,0,8,MORTGAGE,21.31,credit_card,60 months,1,1,86.1,0.0000,-1
89,B,B1,0,3,RENT,20.64,debt_consolidation,36 months,1,1,47.7,0.0000,-1
102,D,D5,0,2,RENT,24.14,credit_card,36 months,0,1,96.3,36.2470,-1
108,B,B2,0,5,RENT,22.80,debt_consolidation,36 months,0,1,54.2,0.0000,-1
111,E,E4,0,11,RENT,20.70,debt_consolidation,60 months,1,1,87.6,0.0000,-1
118,C,C5,0,9,MORTGAGE,9.17,home_improvement,36 months,1,1,71.2,0.0000,-1
124,A,A2,0,11,RENT,29.85,credit_card,36 months,1,1,62.3,0.0000,-1
136,B,B3,0,9,RENT,22.08,debt_consolidation,36 months,1,1,29.3,0.0000,-1
138,C,C1,0,11,RENT,21.89,credit_card,60 months,1,1,65.8,0.0000,-1
140,C,C3,0,2,MORTGAGE,12.24,debt_consolidation,36 months,0,1,90.8,0.0000,-1
151,A,A3,1,0,OWN,16.30,debt_consolidation,36 months,1,1,42.2,0.0000,-1
158,C,C1,0,6,RENT,6.92,small_business,36 months,0,1,69.5,0.0000,-1
159,D,D3,1,1,RENT,16.10,debt_consolidation,36 months,0,1,67.1,0.0000,-1
165,D,D2,0,11,RENT,19.63,debt_consolidation,36 months,1,1,74.9,0.0000,-1
166,D,D3,0,9,RENT,16.03,debt_consolidation,36 months,0,1,75.9,0.0000,-1
169,B,B5,0,2,RENT,20.64,debt_consolidation,36 months,1,1,89.3,26.8355,-1
183,B,B4,0,11,MORTGAGE,12.29,debt_consolidation,36 months,1,1,73.4,0.0000,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122433,D,D5,0,3,MORTGAGE,19.97,debt_consolidation,60 months,1,1,84.6,0.0000,1
122436,A,A5,1,1,RENT,21.20,debt_consolidation,36 months,0,1,96.4,0.0000,1
122454,A,A2,0,8,MORTGAGE,18.93,debt_consolidation,36 months,1,1,32.2,0.0000,1
122458,A,A3,0,2,MORTGAGE,14.92,credit_card,36 months,0,0,50.7,0.0000,1
122465,D,D1,0,10,RENT,27.16,credit_card,60 months,0,0,63.1,0.0000,1
122473,D,D3,0,6,RENT,21.60,debt_consolidation,60 months,1,1,53.2,0.0000,1
122484,B,B1,0,11,MORTGAGE,23.45,credit_card,36 months,0,1,54.2,0.0000,1
122489,B,B1,0,11,MORTGAGE,3.39,home_improvement,36 months,1,1,17.7,0.0000,1
122494,B,B3,0,11,MORTGAGE,10.98,debt_consolidation,36 months,0,1,71.5,0.0000,1
122498,D,D1,0,11,RENT,23.14,debt_consolidation,36 months,0,0,35.5,0.0000,1
122500,B,B2,0,11,MORTGAGE,18.81,credit_card,36 months,1,1,55.0,0.0000,1
122501,C,C5,0,7,RENT,21.92,debt_consolidation,60 months,1,1,80.5,0.0000,1
122505,B,B2,0,11,MORTGAGE,20.80,debt_consolidation,36 months,1,1,66.8,0.0000,1
122506,D,D5,0,9,OWN,4.72,other,36 months,0,1,32.7,0.0000,1
122513,D,D4,0,10,MORTGAGE,25.02,debt_consolidation,60 months,0,1,61.1,0.0000,1
122520,A,A4,0,10,MORTGAGE,12.64,debt_consolidation,36 months,1,1,28.2,0.0000,1
122525,A,A4,0,11,MORTGAGE,23.15,debt_consolidation,36 months,1,1,79.1,0.0000,1
122531,B,B5,0,3,MORTGAGE,17.22,credit_card,36 months,1,1,73.9,0.0000,1
122538,A,A4,0,11,OWN,2.87,debt_consolidation,36 months,0,0,6.2,0.0000,1
122544,B,B1,1,0,RENT,8.47,credit_card,36 months,0,0,28.4,0.0000,1
122552,D,D5,0,2,RENT,29.70,credit_card,60 months,0,1,53.4,0.0000,1
122553,C,C1,0,9,MORTGAGE,12.19,debt_consolidation,36 months,0,1,53.8,0.0000,1
122558,C,C2,0,2,OWN,0.23,small_business,36 months,1,1,25.5,0.0000,1
122561,C,C2,0,7,MORTGAGE,7.06,debt_consolidation,60 months,1,1,4.0,0.0000,1
122569,C,C4,1,1,MORTGAGE,27.36,debt_consolidation,60 months,0,1,49.0,0.0000,1
122572,B,B1,1,1,MORTGAGE,8.94,debt_consolidation,36 months,0,1,41.4,0.0000,1
122575,C,C2,0,6,MORTGAGE,13.58,debt_consolidation,36 months,0,1,76.0,0.0000,1
122588,A,A5,0,4,OWN,7.57,debt_consolidation,36 months,1,1,34.4,0.0000,1
122599,G,G2,0,11,MORTGAGE,26.27,medical,60 months,0,0,94.1,0.0000,1
122603,D,D2,0,11,MORTGAGE,11.26,debt_consolidation,36 months,0,0,15.2,0.0000,1

In [326]:
sample_validation_data

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
19,B,B3,0,11,OWN,11.18,credit_card,36 months,1,1,82.4,0,1
79,D,D1,0,10,RENT,16.85,debt_consolidation,36 months,1,1,96.4,0,1
24,D,D2,0,3,RENT,13.97,other,60 months,0,1,59.5,0,-1
41,A,A5,0,11,MORTGAGE,16.33,debt_consolidation,36 months,1,1,62.1,0,-1

In [327]:
from sklearn.tree import DecisionTreeClassifier

In [328]:
from sklearn.preprocessing import LabelEncoder
number=LabelEncoder()
train_data['grade']=number.fit_transform(train_data['grade'].astype('str'))

C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [329]:
train_data['sub_grade']=number.fit_transform(train_data['sub_grade'].astype('str'))
train_data['home_ownership']=number.fit_transform(train_data['home_ownership'].astype('str'))
train_data['purpose']=number.fit_transform(train_data['purpose'].astype('str'))
train_data['term']=number.fit_transform(train_data['term'].astype('str'))

C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [330]:
train_data.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
1,2,13,1,1,3,1.00,0,1,1,1,9.4,0,-1
6,5,26,0,5,2,5.55,9,1,1,1,32.6,0,-1
7,1,9,1,1,3,18.08,8,1,1,1,36.5,0,-1
10,2,10,1,1,3,10.08,2,0,1,1,91.7,0,-1
12,1,6,0,4,3,7.06,8,0,1,1,55.5,0,-1

In [331]:
validation_data['sub_grade']=number.fit_transform(validation_data['sub_grade'].astype('str'))
validation_data['home_ownership']=number.fit_transform(validation_data['home_ownership'].astype('str'))
validation_data['purpose']=number.fit_transform(validation_data['purpose'].astype('str'))
validation_data['term']=number.fit_transform(validation_data['term'].astype('str'))
validation_data['grade']=number.fit_transform(validation_data['grade'].astype('str'))

C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Shaurya\Anaconda\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [332]:
sample_validation_data['sub_grade']=number.fit_transform(sample_validation_data['sub_grade'].astype('str'))
sample_validation_data['home_ownership']=number.fit_transform(sample_validation_data['home_ownership'].astype('str'))
sample_validation_data['purpose']=number.fit_transform(sample_validation_data['purpose'].astype('str'))
sample_validation_data['term']=number.fit_transform(sample_validation_data['term'].astype('str'))
sample_validation_data['grade']=number.fit_transform(sample_validation_data['grade'].astype('str'))

In [333]:
train_data=np.array(train_data)
validation_data=np.array(validation_data)
sample_validation_data=np.array(sample_validation_data)

In [334]:
train_data[:,[-1]]

array([[-1.],
       [-1.],
       [-1.],
       ...,
       [ 1.],
       [ 1.],
       [ 1.]])

In [335]:
train_data

array([[  2. ,  13. ,   1. , ...,   9.4,   0. ,  -1. ],
       [  5. ,  26. ,   0. , ...,  32.6,   0. ,  -1. ],
       [  1. ,   9. ,   1. , ...,  36.5,   0. ,  -1. ],
       ...,
       [  0. ,   4. ,   0. , ...,  34.4,   0. ,   1. ],
       [  6. ,  31. ,   0. , ...,  94.1,   0. ,   1. ],
       [  3. ,  16. ,   0. , ...,  15.2,   0. ,   1. ]])

In [336]:
train_feature=np.delete(train_data, -1, 1)
validation_feature=np.delete(validation_data, -1, 1)
train_label=train_data[:,[-1]]
validatin_label=validation_data[:,[-1]]
sample_validation_feature=np.delete(sample_validation_data, -1, 1)
sample_validation_label=sample_validation_data[:,[-1]]

In [337]:
train_feature

array([[  2. ,  13. ,   1. , ...,   1. ,   9.4,   0. ],
       [  5. ,  26. ,   0. , ...,   1. ,  32.6,   0. ],
       [  1. ,   9. ,   1. , ...,   1. ,  36.5,   0. ],
       ...,
       [  0. ,   4. ,   0. , ...,   1. ,  34.4,   0. ],
       [  6. ,  31. ,   0. , ...,   0. ,  94.1,   0. ],
       [  3. ,  16. ,   0. , ...,   0. ,  15.2,   0. ]])

In [338]:
decision_tree_model=DecisionTreeClassifier(max_depth=6)
decision_tree_model.fit(train_feature,train_label)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=None, splitter='best')

In [339]:
small_model=DecisionTreeClassifier(max_depth=2)
small_model.fit(train_feature,train_label)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=None, splitter='best')

In [340]:
big_model=DecisionTreeClassifier(max_depth=10)
big_model.fit(train_feature,train_label)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=None, splitter='best')

In [346]:
decision_train_predict=decision_tree_model.predict(train_feature)
decision_validation_predict=decision_tree_model.predict(validation_feature)
small_train_predict=small_model.predict(train_feature)
small_validation_predict=small_model.predict(validation_feature)
big_train_predict=big_model.predict(train_feature)
big_validation_predict=big_model.predict(validation_feature)

In [342]:
decision_tree_model.predict(sample_validation_feature)

array([ 1.,  1.,  1.,  1.])

In [343]:
decision_tree_model.predict_proba(sample_validation_feature)

array([[ 0.32493298,  0.67506702],
       [ 0.32493298,  0.67506702],
       [ 0.42682927,  0.57317073],
       [ 0.21513944,  0.78486056]])

In [344]:
small_model.predict(sample_validation_feature)

array([ 1.,  1.,  1.,  1.])

In [345]:
small_model.predict_proba(sample_validation_feature)

array([[ 0.32911587,  0.67088413],
       [ 0.32911587,  0.67088413],
       [ 0.32911587,  0.67088413],
       [ 0.32911587,  0.67088413]])

In [225]:
from sklearn.metrics import accuracy_score

In [347]:
accuracy_score(train_label,decision_train_predict)

0.64176337846550613

In [348]:
accuracy_score(train_label,small_train_predict)

0.61608102299591661

In [349]:
accuracy_score(train_label,big_train_predict)

0.67306039114549754

In [350]:
accuracy_score(validatin_label,decision_validation_predict)

0.63248599741490741

In [351]:
accuracy_score(validatin_label,small_validation_predict)

0.61482119775958644

In [352]:
accuracy_score(validatin_label,big_validation_predict)

0.62634640241275308

In [363]:

false_positives = 0

for i in range(len(validation_data)):
    if validatin_label[i] == -1 and decision_validation_predict[i] == +1:
        false_positives += 1

print false_positives

1848

In [364]:
false_negatives = 0

for i in range(len(validation_data)):
    if validatin_label[i] == +1 and decision_validation_predict[i]== -1:
        false_negatives += 1

print false_negatives

1564

In [365]:
print false_negatives*10000 + false_positives*20000

52600000